.CommentInput-title {
    margin: 0;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 13.8px;
    color: #000000;
}

.CommentInput-input {
    margin-bottom: 10px;
    border: 1px solid #666666;
    background-color: #FFFFFF;
    width: 100%;
    min-height: 76px;
    box-shadow: 0px 1px 4px 0px #6666661A inset;
}

.CommentInput-submit {
    margin-right: 10px;
}
